[Desktop Entry]
Encoding=UTF-8
Name=New login
Name[am]=አዲስ ዝምብሎ ይግባ
Name[az]=Yeni giriş
Name[be]=Новы ўваход
Name[bg]=Ново влизане
Name[ca]=Nova entrada
Name[cs]=Nové přihlášení
Name[da]=Nyt logind
Name[de]=Neu anmelden
Name[el]=Νέα πιστοποίηση: 
Name[es]=Login nuevo
Name[eu]=Erabiltzaile-izen berria
Name[fi]=Uusi kirjautuminen
Name[fr]=Nouvelle connexion
Name[gl]=Nova conexión
Name[he]=חיבור חדש
Name[hu]=Új belépés
Name[it]=Nuovo login
Name[ja]=新規ログイン
Name[ko]=새로 로그인
Name[lt]=Naujas prisijungimas
Name[lv]=Jauna pieteikšanās
Name[mk]=Ново логирање
Name[mn]=Шинээр нэвтрэх
Name[ms]=Logmasuk baru
Name[nl]=Nieuwe login
Name[nn]=Ny innlogging
Name[no]=Ny innlogging
Name[pl]=Nowy login
Name[pt]=Nova sessão
Name[pt_BR]=Novo login
Name[ro]=Login nou
Name[ru]=Новый сеанс
Name[sk]=Nové prihlásenie
Name[sl]=Nova prijava
Name[sv]=Ny inloggning
Name[tr]=Yeni giriş
Name[uk]=Новий вхід
Name[vi]=Đăng nhập lại
Name[zh_CN]=新登录
Name[zh_TW]=重新登入
Comment=Log in as another user without logging out
Comment[bg]=Влез като друг потребител без излизане от системата
Comment[ca]=Entreu com a un usuari distint sense sortir-hi
Comment[cs]=Přihlásit se jako jiný uživatel bez odhlášení
Comment[da]=Log ind som en anden bruger uden at logge ud
Comment[de]=Neu anmelden ohne sich abzumelden
Comment[el]=Είσοδος ως άλλος χρήστης χωρίς να αποσυνδεθείτε
Comment[es]=Iniciar sesión como otro usuario sin salir.
Comment[fi]=Kirjaudu sisään toisena käyttäjänä ilman uloskirjautumista
Comment[fr]=Se connecte en tant qu'autre utilisateur sans se déconnecter
Comment[he]=התחבר עם שם משתמש אחר מבלי להתנתק
Comment[hu]=Belépés más felhasználó nevében kilépés nélkül
Comment[it]=Effettua un nuovo login senza chiudere la sessione corrente
Comment[ko]=로그아웃하지 않고 다른 사용자로 로그인 합니다
Comment[lv]=Pieteikties kā citam lietotājam bez attiekšanās
Comment[mn]=Өөрөө гаралгүйгээр өөр нэрээр нэвтрэх
Comment[ms]=Log masuk sebagai pengguna lain tanpa log keluar
Comment[nl]=Aanmelden als andere gebruiker zonder eerst af te melden
Comment[no]=Logg inn som en annen bruker uten å logge ut
Comment[pl]=Logowanie jako inny użytkownik bez wylogowywania się
Comment[pt]=Iniciar sessão como outro utilizador sem terminar a actual
Comment[pt_BR]=Efetue login como um outro usuário sem sair da sessão atual
Comment[ru]=Начать новый сеанс в качестве другого пользователя без завершения старого сеанса
Comment[sk]=Prihlásenie ako iný používateľ bez odhlásenia
Comment[sl]=Prijavi se kot drug uporabnik, brez da bi se odjavil
Comment[sv]=Logga in som en annan användare utan att logga ut
Comment[tr]=Çıkış yapmadan başka bir kullanıcıyla giriş yap
Comment[uk]=Ввійти як інший користувач без виходу
Comment[vi]=Đăng nhập với tên người dùng khác mà không cần đăng xuất
Comment[zh_TW]=在不登出的情況下登入成為另一位使用者
Exec=gdmflexiserver
Icon=gdm.png
Terminal=0
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
