[Desktop Entry]
Encoding=UTF-8
Name=New login in a nested window
Name[az]=Pəncərədə yeni giriş
Name[be]=Новы ўваход у ўкладзеным акне
Name[bg]=Ново влизане в 'nested' прозорец
Name[ca]=Nova entrada a una finestra imbricada
Name[cs]=Nové přihlášení ve vnořeném okně
Name[da]=Ny indlogning i et "nested" vindue
Name[de]=In einem Fenster neu anmelden
Name[el]=Νέα είσοδος σε ενσωματωμένο παράθυρο
Name[es]=Nuevo acceso en una ventana anidada
Name[eu]=Erabiltzaile-izen berria leiho habiaratuan 
Name[fi]=Uusi kirjautuminen sisäkkäisestä ikkunasta
Name[fr]=Nouvelle connexion dans une fenêtre interne
Name[gl]=Nova conexión nunha fiestra aniñada
Name[he]=חיבור חדש בחלון מקונן
Name[hu]=Új belépés beültetett ablakban
Name[it]=Nuovo login in finestra
Name[ja]=入れ子ウィンドウからの新規ログイン
Name[ko]=중첩 창에서 새로 로그인
Name[lv]=Jauna pieteikšanās ligzdveida logā
Name[mk]=Ново логирање во вгнезден прозорец
Name[mn]=Хайрцагласан цонхонд шинээр нэвтрэх
Name[ms]=Logmasuk baru di dalam tetingkap bersarang
Name[nl]=Aanmelden in een genest venster
Name[no]=Ny innlogging i et "nested" vindu
Name[pl]=Nowy login w zagnieżdżonym oknie
Name[pt]=Nova sessão numa janela nested
Name[pt_BR]=Novo login numa janela aninhada
Name[ro]=Login nou în fereastrã imbricatã
Name[ru]=Новый сеанс во вложенном окне
Name[sk]=Nové prihlásenie vo vnorenom okne
Name[sl]=Nova prijava v gnezdenem oknu
Name[sv]=Ny inloggning i ett nästlat fönster
Name[tr]=Ayrı pencerede yeni giriş
Name[uk]=Новий вхід у вкладеному вікні
Name[vi]=Đăng nhập lại trong cửa sổ lồng nhau
Name[zh_CN]=嵌套窗口中的新登录
Name[zh_TW]=在 Xnest 視窗重新登入
Comment=Log in as another user inside a nested window
Comment[az]=Pəncərə yerinə yeni istifadəçi olaraq sistemə gir
Comment[be]=Увайсьці ў сыстэму як іншы карыстальнік у ўкладзеным вакне
Comment[bg]=Влизане в системата като друг потребител вътре в 'nested' прозорец
Comment[ca]=Entreu com a un usuari distint dins d'una finestra imbricada
Comment[cs]=Přihlásit se jako jiný uživatel ve vnořeném okně
Comment[da]=Log ind som en anden bruger i et nyt vindue
Comment[de]=In einem verschachtelten Fenster neu anmelden
Comment[el]=Είσοδος ως διαφορετικός χρήστης μέσα σε ενσωματωμένο παράθυρο
Comment[es]=Acceder como otro usuario dentro de una ventana anidada
Comment[eu]=Saioa beste erabiltzaile baten moduan hasi leiho habiaratu batean 
Comment[fi]=Kirjaudu toisena käyttäjänä sisäkkäisestä ikkunasta
Comment[fr]=Se connecte en tant qu'autre utilisateur à l'intérieur d'une fenêtre interne
Comment[gl]=Conectar como outra/o usuaria/o dentro dunha fiestra aniñada
Comment[he]=התחבר כמשתמש אחר מתוך חלון מקונן
Comment[hu]=Belépés más felhasználóként egy beültetett ablakban
Comment[it]=Permette di effettuare un nuovo login in una finestra
Comment[ja]=入れ子ウィンドウの中から別のユーザとしてログイン
Comment[ko]=중첩 창에서 다른 사용자로 로그인
Comment[lv]=Pieteikties kā cits lietotājs ligzdveida logā
Comment[mk]=Логирај се како друг корисник во вгнезден прозорец
Comment[mn]=Хайрцагласан цонхонд өөр хэрэглэгчээр нэвтрэх
Comment[ms]=Logmasuk sebagai pengguna lain di dalam tetingkap berulang
Comment[nl]=Aanmelden als een andere gebruiker in een genest venster
Comment[no]=Logg inn som en annen bruker i et nytt vindu
Comment[pl]=Logowanie jako inny użytkownik w zagnieżdżonym oknie
Comment[pt]=Iniciar sessão como outro utilizador dentro de uma janela nested
Comment[pt_BR]=Login como outro usuário dentro de uma janela aninhada
Comment[ro]=Login ca alt utilizator în fereastrã imbricatã
Comment[ru]=Начать сеанс в качестве другого пользователя во вложенном окне
Comment[sk]=Prihlásenie ako iný používateľ vo vnorenom okne
Comment[sl]=Prijavi se kot drug uporabnik znotraj gnezdenega okna
Comment[sv]=Logga in som en annan användare inuti ett nästlat fönster
Comment[tr]=Ayrı bir pencerede farklı kullanıcı ile giriş
Comment[uk]=Ввійти як інший користувач у вкладеному вікні
Comment[vi]=Đăng nhập với tên người dùng khác trong một cửa sổ con
Comment[zh_CN]=在嵌套的窗口中以其它用户登录
Comment[zh_TW]=在 Xnest 視窗重新登入成為另一位使用者
# Given that we can set up the Xnest binary in the config file
# this is minorly evil
TryExec=Xnest
Exec=gdmflexiserver --xnest
Icon=gdm.png
Terminal=0
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
