[Desktop Entry]
Encoding=UTF-8
Name=GDM Configurator
Name[az]=GDM Quraşdırıcı
Name[be]=Канфігуратар GDM
Name[bg]=Конфигуратор на GDM
Name[ca]=Configurador del GDM
Name[cs]=Nastavení GDM
Name[da]=GDM-indstillinger
Name[de]=GDM-Konfiguration
Name[el]=Ρυθμίσεις GDM
Name[es]=Configuración de GDM
Name[et]=GDM häälestus
Name[eu]=GDMren konfiguratzailea
Name[fi]=GDM:n Asetusohjelma
Name[fr]=Configurateur de GDM
Name[gl]=Configurador do GDM
Name[he]=הגדרות GDM
Name[hu]=GDM Beállító
Name[it]=Configurazione di GDM
Name[ja]=GDM設定ツール
Name[ko]=GDM 설정 도구
Name[lt]=GDM konfigūracija
Name[lv]=GDM Konfigurātors
Name[mk]=GDM конфигуратор
Name[mn]=GDM-Тохируулагч
Name[ms]=Pengkonfigurasi GDM
Name[nl]=GDM Configuratie
Name[nn]=Skjermhandterar oppsettsverkty
Name[no]=GDM konfigurator
Name[pl]=Konfigurator GDM
Name[pt]=Configuração GDM
Name[pt_BR]=Configurador do GDM
Name[ro]=Configurator GDM
Name[ru]=Настройки Менеджера дисплеев (GDM)
Name[sk]=Nastavenie GDM
Name[sl]=Nastavljalnik GDM
Name[sv]=GDM-konfigurationsprogram
Name[tr]=GDM Ayarla
Name[uk]=Налаштування GDM
Name[vi]=Trình cấu hình GDM
Name[zh_CN]=GDM 配置程序
Name[zh_TW]=GDM 設定工具
Comment=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[az]=GNOME Ekran İdarəçisinin (GDM) qrafiki quraşdırma proqramı
Comment[be]=Графічнае дастасаваньне для канфігураваньня GNOME мэнаджару дэсплэя (GDM)
Comment[bg]=Графично приложение за конфигуриране на GDM (Мениджър за Дисплей на ГНОМЕ)
Comment[ca]=Una aplicació gràfica per configurar el gestor de pantalla GNOME (GDM)
Comment[cs]=Grafická aplikace pro nastavení správce displeje GNOME (GDM)
Comment[da]=Et grafisk program til at konfigurere logindhåndteringen til Gnome (GDM)
Comment[de]=Eine graphische Anwendung zur Konfiguration des GNOME Display Managers (GDM)
Comment[el]=Μια γραφική εφαρμογή για τη ρύθμιση του Διαχειριστή Οθόνης GNOME (GDM)
Comment[es]=Una aplicación gráfica para configurar el Gestor de pantalla GNOME (GDM)
Comment[et]=Graafiline tööriist GDMi (GNOME sisselogimise-haldur) häälestamiseks
Comment[eu]=GNOMEren pantaila-kudeatzailea (GDM) konfiguratzeko aplikazio grafikoa
Comment[fi]=Gnomen kirjautumisohjelman (GDM) graafinen asetusohjelma
Comment[fr]=Application graphique de configuration du gestionnaire de connexion GNOME (GDM)
Comment[gl]=Unha aplicación gráfica para configurar o Xestor de Pantallas de GNOME (GDM)
Comment[he]=יישום גרפי להגדרות מנהל התצוגה של GNOME (GDM)
Comment[hu]=Egy grafikus alkalmazás a GNOME Képernyő Menedzser (GDM) beállítására
Comment[it]=Strumento di configurazione del dispay manager di GNOME (GDM)
Comment[ja]=GNOMEディスプレイマネージャを設定するグラフィックアプリケーション
Comment[ko]=그놈 디스플레이 관리자(GDM)을 그래픽하게 설정하는 응용프로그램
Comment[lt]=Grafinė programa, skirta konfigūruoti GNOME prisijungimo menedžerį (GDM)
Comment[lv]=Grafiska aplikācija, ar kuru konfigurēt GNOME Displeja Pārvaldnieku (GDM)
Comment[mk]=Графичка алатка за конфигурирање на Менаџерот на логирање на GNOME (GDM)
Comment[mn]=GNOME-ийн дэлгэцийн менежер(GDM)-ийн тохируулга хийх зориулалт бүхий график дүрслэлийн программ
Comment[ms]=Aplikasi berantaramuka grafik untuk mengkonfigurasikan Pengurus Paparan GNOME (GDM)
Comment[nl]=Een grafisch programma voor het configureren van GNOME Aanmeldbeheer (GDM)
Comment[nn]=Eit grafisk program for å sette opp GNOME skjermhandsamaren (GDM)
Comment[no]=En grafisk applikasjon for konfigurasjon av GNOME Display Manager (GDM)
Comment[pl]=Aplikacja pozwalająca na konfigurację Menedżera Ekranu GNOME (GDM)
Comment[pt]=Uma aplicação gráfica para configurar o Gestor de Ecrãs GNOME (GDM)
Comment[pt_BR]=Um programa para configurar o Gerenciador de Telas do GNOME (GDM)
Comment[ro]=O aplicaţie graficã pentru a configura GDM
Comment[ru]=Программа настройки Менеджера дисплеев среды Гном (GDM) 
Comment[sk]=Grafická aplikácia pre nastavenie Správcu displeja GNOME (GDM)
Comment[sl]=Grafični program za nastavljanje Upravljalnika zaslonov GNOME (GDM)
Comment[sv]=Ett grafiskt program för att konfigurera GNOME:s displayhanterare (GDM)
Comment[tr]=GNOME Görüntü Yöneticisini (GDM) yapılandırmak için bir araç
Comment[uk]=Графічна програма для налаштування Менеджера дисплея GNOME (GDM)
Comment[vi]=Một ứng dụng đồ họa dùng để cấu hình GDM (Trình quản lý Display của GNOME)
Comment[zh_CN]=配置 GNOME 显示控制器 (GDM) 的图形应用程序
Comment[zh_TW]=設定 GNOME 登入管理程式（GDM）的圖型界面程式
TryExec=gdmsetup
Exec=gdmsetup
Icon=gdm.png
Terminal=0
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
