# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=happygnome.xml
Name=Happy GNOME
Name[be]=Вясёлы GNOME
Name[bg]=Щастливо ГНОМЕ
Name[ca]=Feliç GNOME
Name[cs]=Šťastný GNOME
Name[da]=Glad Gnome
Name[de]=Happy-GNOME
Name[el]=Happy GNOME
Name[es]=GNOME feliz
Name[et]=Õnnelik GNOME
Name[fi]=Iloinen Gnome
Name[fr]=Joyeux GNOME
Name[he]=GNOME שמח
Name[hu]=Boldog GNOME
Name[it]=Happy GNOME
Name[ja]=ハッピーGNOME
Name[ko]=해피 그놈
Name[lv]=Laimīgais GNOME
Name[mk]=Среќниот GNOME
Name[mn]=Жаргалтай-GNOME
Name[ms]=GNOME Gembira
Name[nl]=Blije GNOME
Name[no]=Glad GNOME
Name[pl]=Happy GNOME
Name[pt]=GNOME Feliz
Name[pt_BR]=GNOME Feliz
Name[ro]=GNOME Fericit
Name[ru]=Happy GNOME
Name[sk]=Šťastné GNOME
Name[sl]=Veseli GNOME
Name[sv]=Glad GNOME
Name[tr]=Mutlu GNOME
Name[uk]=Веселий GNOME
Name[vi]=GNOME hạnh phúc
Name[zh_CN]=欢乐 GNOME
Name[zh_TW]=Happy GNOME
Description=GNOME Art variation of Circles
Description[be]=GNOME Варыяцыі на тэму кругоў
Description[bg]=GNOME Арт вариация на Circles
Description[ca]=GNOME Art, variació de cercles
Description[cs]=Variace kruhů s obrázky z GNOME
Description[da]=Kunstvariation af cirkler
Description[de]=GNOME Künstler-Abwandlung von Kreisen
Description[el]=Ποικιλία κύκλων GNOME Art 
Description[es]=GNOME Art, variación de Circulos
Description[et]=Variant teemast Ringid
Description[fi]=Gnome-taide, vaihtelevat ympyrät
Description[fr]=Variation artistique de Cercles GNOME
Description[he]=הגירסה של GNOME למעגלים
Description[hu]=GNOME művészi körök
Description[it]=Variazione artistica GNOME di Circles
Description[ja]=CirclesのGNOMEアートバリエーション
Description[ko]=그놈 아트 동그라미 변종
Description[lv]=GNOME Mākslas variācijas par Rinķiem
Description[mk]=GNOME Уметничка варијанта на Круговите
Description[mn]=GNOME Цагирагуудын уран сайхны хэлбэрүүд
Description[ms]=Variasi Seni Bulatan GNOME
Description[nl]=GNOME Kunstzinnige variatie van cirkels
Description[no]=GNOME kunstvariasjon av Sirkler
Description[pl]=Odmiana motywu Okręgi, stworzona przez artystów GNOME
Description[pt]=Arte GNOME numa variação de Círculos
Description[pt_BR]=Variação GNOME Art do Círculos
Description[ru]=Модификация Кругов от GNOME Art
Description[sk]=GNOME Variácia na kruhy
Description[sl]=Umetniška variacija krogov GNOME
Description[sv]=GNOME-konstvariation av cirklar
Description[tr]=Mavi GNOME teması
Description[uk]=Художні варіанти з кругами GNOME
Description[vi]=Biến thể nghệ thuật GNOME của vòng tròn
Description[zh_CN]=GNOME 艺术的圆环变种
Description[zh_TW]=GNOME 版本的「圓弧」佈景主題
Author=GNOME Artists
Author[be]=Артысты GNOME
Author[bg]=Художници на ГНОМЕ
Author[ca]=Artistes del GNOME
Author[cs]=Umělci GNOME
Author[da]=Gnome-kunstnere
Author[de]=GNOME-Künstler
Author[el]=GNOME Artists
Author[es]=Artistas de GNOME
Author[et]=GNOMEi kunstnikud
Author[fi]=Gnome-taiteilijat
Author[fr]=Artistes GNOME
Author[he]=אומני GNOME
Author[hu]=GNOME művészek
Author[it]=Artisti GNOME
Author[ja]=GNOMEアーティスト
Author[ko]=그놈 아티스트
Author[lv]=GNOME Mākslinieki
Author[mk]=GNOME Артисти
Author[mn]=GNOME-ийн урлагийнхан
Author[ms]=Artis GNOME
Author[nl]=GNOME Artiesten
Author[no]=GNOME kunstnere
Author[pl]=Artyści GNOME
Author[pt]=Artistas GNOME
Author[pt_BR]=Artistas do GNOME
Author[ro]=Artişti GNOME
Author[ru]=GNOME Artists
Author[sk]=GNOME Artists
Author[sl]=Umetniški ustvarjalci GNOME
Author[sv]=GNOME-artister
Author[tr]=GNOME Sanatçıları
Author[uk]=Художники GNOME
Author[vi]=Nghệ sĩ GNOME
Author[zh_CN]=GNOME 艺术家
Author[zh_TW]=各位 GNOME 美術人員
Copyright=(c) 2002 GNOME
Copyright[am]=(ም) 2002 ኖም
Copyright[be]=(c) 2002 GNOME
Copyright[bg]=(c) 2002 ГНОМЕ
Copyright[ca]=© 2002 GNOME
Copyright[cs]=(c) 2002 GNOME
Copyright[da]=© 2002 Gnome
Copyright[de]=(c) 2002 GNOME
Copyright[el]=(c) 2002 GNOME
Copyright[es]=© 2002 GNOME
Copyright[et]=© 2002 GNOME
Copyright[fi]=© 2002 GNOME
Copyright[fr]=© 2002 GNOME
Copyright[he]=(c) 2002 GNOME
Copyright[hu]=(c) 2002 GNOME
Copyright[it]=© 2002 GNOME
Copyright[ja]=(C) 2002 GNOME
Copyright[ko]=(c) 2002 GNOME
Copyright[lv]=© 2002 GNOME
Copyright[mk]=(c) 2002 GNOME
Copyright[mn]=(c) 2002 GNOME
Copyright[ms]=(c) 2002 GNOME
Copyright[nl]=© 2002 GNOME
Copyright[no]=© 2002 GNOME
Copyright[pl]=(c) 2002 GNOME
Copyright[pt]=(c) 2002 GNOME
Copyright[pt_BR]=(c) 2002 GNOME
Copyright[ro]=(c) 2002 GNOME
Copyright[ru]=(c) 2002 GNOME
Copyright[sk]=(c) 2002 GNOME
Copyright[sl]=(c) 2002 GNOME
Copyright[sv]=© 2002 GNOME
Copyright[tr]=(c) 2002 GNOME
Copyright[uk]=(c) 2002 GNOME
Copyright[vi]=(c) 2002 GNOME
Copyright[zh_CN]=(c) 2002 GNOME
Copyright[zh_TW]=© 2002 GNOME
Screenshot=screenshot.png
